{% extends 'components/layout.html' %}


{% block title %}
    데이터 생성/관리 페이지
{% endblock %}


{% block header %}
  <h1 class="center">
    <a href="{{ url_for('pub.index') }}" style="color: black;">
      심야식당
    </a>
  </h1>
{% endblock %}


{% block filter %}
{% endblock %}


{% block contents %}
    <h1 class="mt-5" style="text-align: center;">데이터 생성/관리</h1>
    <div class="d-flex flex-column mt-5">
        <a href="{{ url_for('common.crawl') }}" class="d-flex justify-content-center">
            <button type="button" class="btn btn-info mb-3" id="naver_place_crawler">네이버 장소 크롤링 (전체)</button>
        </a>
        <a href="{{ url_for('common.crawl_pub') }}" class="d-flex justify-content-center">
            <button type="button" class="btn btn-info mb-3" id="naver_place_crawler">네이버 장소 크롤링 (술집만)</button>
        </a>
        <a href="{{ url_for('common.crawl_restaurant') }}" class="d-flex justify-content-center">
          <button type="button" class="btn btn-info mb-3" id="naver_place_crawler">네이버 장소 크롤링 (식당만)</button>
        </a>
        <a href="{{ url_for('common.crawl_one') }}" class="d-flex justify-content-center">
          <button type="button" class="btn btn-info mb-3" id="naver_place_crawler">네이버 장소 크롤링 (한 지역, 한 종류만)</button>
        </a>
        <a href="{{ url_for('common.save_data_to_db') }}" class="d-flex justify-content-center">
            <button type="button" class="btn btn-info mb-3" id="naver_place_csv_to_db_all">네이버 장소 -> db 저장</button>
        </a>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}