<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심야식당</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1><mark>심야 식당</mark></h1>


    <table class="table">
        <thead>
            <!-- 다른 테이블과 가로 길이 맞추기 -->
            <tr>
                <th scope="col" id="open_shop_li">영업 중인 술집 검색</th>
                <th scope="col" id="favorite_shop">나의 즐겨찾기</th>
            </tr>
            <tr>
                <!-- <th scope="col">즐겨찾기</th> -->
                <th scope="col">상점명</th>
                <th scope="col">별점</th>
                <!-- <th scope="col">영업중/종료</th> -->
                <th scope="col">가게종류</th>
                <th scope="col">영업시간</th>
                <th scope="col">연락처</th>
                <!-- <th scope="col">역에서부터의 거리</th> -->
                <!-- <th scope="col">잘못된정보 신고하기</th> -->
            </tr>
        </thead>
        <tbody>
            {% for shop in shopdata %}
                <tr>
                    {% set x = today_yoil + "opening_hours" %}
                    <th scope="row">{{ shop['shop_name'] }}</th>
                    <td>{{ shop['shop_star_rating'] }}</td>
                    <td>{{ shop['shop_type'] }}</td>
                    <td>{{ shop[x]}}</td>
                    <td>{{ shop['shop_contact'] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>