<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심야식당</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body{
            text-align: center;
        }
        .cover {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: rgb(26, 118, 176);
            text-decoration: none;
        }
    </style>
</head>
<body class="d-flex justify-content-center">
    <div>
        <div class="d-flex justify-content-between mt-5">
            {% include 'today_description.html' %}
            {% include 'login_register.html' %}
        </div>
        <h1 class="center"><a href="/" style="color: black;">심야식당</a></h1>
        <br>
        <form method="get">
            <div class="d-flex justify-content-end">
                <!--? 지역 필터 -->
                {% if search %}
                    <input type="text" name="search" value="{{ search }}" style="width: 100px; height: 30px; margin-top: 4px">
                {% else %}
                    <input type="text" name="search" placeholder="상점명 입력" style="width: 100px; height: 30px; margin-top: 4px">
                {% endif %}
                <select name="area" class="mx-1" style="width: 100px; height: 30px; margin-top: 4px">
                    <div>
                        {% if area %}
                            <option value="{{ area }}" selected hidden>{{ area }}</option>
                        {% else %}
                            <option value="" selected disabled hidden>지역 선택</option>
                        {% endif %}
                    </div>
                    <div>
                        <option value="">전체</option>
                        {% for i in areas %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </div>
                </select>
                <!-- TODO: multiple 속성 넣기  -->
                <!--? 타입 필터 -->
                <select name="type" style="width: 100px; height: 30px; margin-top: 4px">
                    <div>
                        {% if type %}
                            <!-- disabled 속성을 제거하여 클릭하지 않아도 계속해서 값을 이것으로 가지도록 함) -->
                            <option value="{{ type }}" selected hidden>{{ type }}</option>
                        {% else %}
                            <option value="{{ type }}" selected disabled hidden>가게 종류</option>
                        {% endif %}
                    </div>
                    <div>
                        <option value="">전체</option>
                        {% for t in types %}
                            <option value="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </div>
                </select>
                <!--? 시간 필터 -->
                <select name="timefromnow" style="width: 120px; height: 30px; margin-top: 4px">
                    <div>
                        {% if timefromnow %}
                            <option value="{{ timefromnow }}" selected hidden>{{ timefromnow }}시간 이상</option>
                        {% else %}
                            <option value="" selected disabled hidden>남은 영업시간</option>
                        {% endif %}
                    </div>
                    <div>
                        <option value="">전체</option>
                        {% for t in [[2, '2시간 이상'], [3, '3시간 이상'], [4, '4시간 이상'], [6, '6시간 이상']] %}
                            <option value="{{ t[0] }}">{{ t[1] }}</option>
                        {% endfor %}
                    </div>
                </select>
                <input type="submit" value="이동" class="btn btn-primary mx-1" >
            </div>
        </form>
        <br>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" id="" colspan="1"></th>
                        <th scope="col" id="open_shop_li" colspan="4">영업 중인 술집 검색</th>
                        <th scope="col" id="favorite_shop" colspan="3">나의 즐겨찾기</th>
                        <th scope="col" id="" colspan="1"></th>
                    </tr>
                </thead>
                <tr>
                    <th scope="col" width="80">즐겨찾기</th>
                    <th scope="col" width="110">상점 명</th>
                    <th scope="col" width="80">별점</th>
                    <th scope="col" width="80">영업 여부</th>
                    <th scope="col" width="80">가게 종류</th>
                    <th scope="col" width="120">영업 시간<br>(오늘: {{ today_yoil }})</th>
                    <th scope="col" width="150">가게 연락처</th>
                    <th scope="col" width="150">가게 주소</th>
                    <th scope="col" width="80">신고</th>
                </tr>

                <tbody class="table-group-divider">
                    {% for i in range(shopdata | length) %}
                    {% set shop = shopdata[i] %}
                        <tr>
                            <td><img class="star" id="star_{{ i }}" src="./static/IMG/star/empty_yellow_star.png" alt="star_{{ i }}" width="20" style="cursor: pointer;"></td>
                            <td><a href="https://map.naver.com/v5/search/{{ shop['name'] }}/place" target="_blank">{{ shop['name'] }}</a></td>
                            <td>{{ shop['star_rating'] }}</td>
                            <td>{{ shop['status'] }}</td>
                            <td>{{ shop['type'] }}</td>
                            <td>{{ shop[today_yoil + "opening_hours"] }}</td>
                            <td>{{ shop['contact'] }}</td>
                            <td><a href="https://map.naver.com/v5/directions/-/14129228.684381623,4517601.068035996,{{ area }} {{ shop['name'] }},1151030658,PLACE_POI/-/transit?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank" >{{ shop['address'] }}</a></td>
                            <td><a style="color: crimson" href="/singo?area={{ area }}&name={{ shop['name'] }}" target="_blank">신고하기</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="justify-content : center;">
                {% if move_page_front %}
                    <li class="page-item"><a class="page-link" href='/?search={{ search }}&area={{ area }}&type={{ type }}&timefromnow={{ timefromnow }}&page={{ 1 }}'><span aria-hidden="true">&laquo;&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href='/?search={{ search }}&area={{ area }}&type={{ type }}&timefromnow={{ timefromnow }}&page={{ page-5 }}'><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% for p in range(pagination_start, pagination_end+1) %}
                    <li class="page-item"><a class="page-link" href='/?search={{ search }}&area={{ area }}&type={{ type }}&timefromnow={{ timefromnow }}&page={{ p }}'>
                        {% if page == p %}
                            <strong><mark>
                                {% endif %}
                                {{ p }}
                                {% if page == p %}
                            </strong></mark>
                        {% endif %}
                    </a></li>
                {% endfor %}
                {% if move_page_back %}
                    <li class="page-item"><a class="page-link" href='/?search={{ search }}&area={{ area }}&type={{ type }}&timefromnow={{ timefromnow }}&page={{ page+5 }}'><span aria-hidden="true">&raquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href='/?search={{ search }}&area={{ area }}&type={{ type }}&timefromnow={{ timefromnow }}&page={{ total_page }}'><span aria-hidden="true">&raquo;&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script>
        const stars = document.querySelectorAll('.star')
        stars.forEach((star)=>{
            star.addEventListener('click',(e)=>{
                if(star.src == 'http://192.168.100.70:8888/static/IMG/star/empty_yellow_star.png'){
                    star.setAttribute('src','./static/IMG/star/full_yellow_star.png');
                }else{
                    star.setAttribute('src','./static/IMG/star/empty_yellow_star.png');
                }
            })
        })
    </script>
</body>
</html>