{% extends 'components/layout.html' %}


{% block title %}
    로그인
{% endblock %}


{% block header %}
{% endblock %}


{% block filter %}
{% endblock %}


{% block contents %}
    <h1 class="mt-5" style="text-align: center;">로그인</h1>
    <form action="{{ url_for('auth.login') }}" method="post">
        <div class="d-flex justify-content-center mt-5">
            <table>
                <tr>
                    <td>아이디</td>
                    <td><label><input type="text" name="username" placeholder="아이디 입력" required></label></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><label><input type="password" name="password" placeholder="비밀번호 입력" required></label></td>
                </tr>
            </table>
            <input type="submit" value="submit">
        </div>
    </form>
{% endblock %}

{% block scripts %}
{% endblock %}