{% extends 'components/layout.html' %}


{% block title %}
    심야식당
{% endblock %}


{% block header %}
    <h1 class="center">
        <a href="{{ url_for('pub.index') }}" style="color: black;">
            심야식당
        </a>
    </h1>
{% endblock %}


{% block filter %}
    <form method="get">
        {% include 'components/filter.html' %}
    </form>
{% endblock %}


{% block contents %}
    <div class="d-flex justify-content-between">
        <div>
            {% include 'components/table.html' %}
        </div>
        <div style="margin-top: 0%;">
            {% include 'components/kakao_map.html' %}
        </div>
    </div>
    <div class="mt-3">
        {% include 'components/pagination.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/like_place.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kakao_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/copy_text.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary_details.js') }}"></script>
    <script src="{{ url_for('static', filename='js/control_fontsize.js') }}"></script>
{% endblock %}