{% extends 'components/layout.html' %}


{% block title %}
    회원가입
{% endblock %}


{% block header %}
{% endblock %}


{% block filter %}
{% endblock %}


{% block contents %}
	<h1 class="mt-5" style="text-align: center;">회원가입</h1>
	<form method="post">
		<div class="d-flex justify-content-center mt-5">
			<table>
				<tr>
					<td>사용할 아이디</td>
					<td><label><input type="text" name="username" placeholder="사용할 아이디 입력" required></label></td>
				</tr>
				<tr>
					<td>사용할 비밀번호</td>
					<td><label><input type="password" name="password" placeholder="사용할 비밀번호 입력" required></label></td>
				</tr>
				<tr>
					<td>비밀번호 재입력</td>
					<td><label><input type="password" name="password_again" placeholder="비밀번호 재입력"required></label></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><label><input type="text" name="name" placeholder="이름" required></label></td>
				</tr>
				<tr>
					<td>사용할 닉네임</td>
					<td><label><input type="text" name="nickname" placeholder="닉네임" required></label></td>
				</tr>
				<tr>
					<td>전화번호</td>
					<td><label><input type="tel" name="contact" oninput="autoHyphen(this)" maxlength="13" placeholder="ex) 010-1111-1111" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required></label></td>
				</tr>
				<tr>
					<td>인증 이메일</td>
					<td><label><input type="email" name="email" placeholder="ex) xxxxx@naver.com" required></label></td>
				</tr>
			</table>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<input type="submit" value="submit">
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/register_check.js') }}"></script>
{% endblock %}