{% extends 'components/layout.html' %}


{% block title %}
  아이디/비밀번호 찾기
{% endblock %}



{% block header %}
    <h1 class="mt-5" style="text-align: center;">
        아이디/비밀번호 찾기
    </h1>
{% endblock %}


{% block filter %}
{% endblock %}


{% block contents %}
<div class="d-flex flex-column min-max-width-midium" style="margin: 0 auto;">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%">
        <li class="nav-item" role="presentation" style="width:50%">
            <button class="nav-link active" id="username-tab" data-bs-toggle="tab" data-bs-target="#username-tab-pane" type="button" role="tab" aria-controls="username-tab-pane" aria-selected="true" style="width:100%">
                아이디 찾기
            </button>
        </li>
        <li class="nav-item" role="presentation" style="width:50%">
            <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false" style="width:100%">
                비밀번호 찾기
            </button>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="username-tab-pane" role="tabpanel" aria-labelledby="username-tab" tabindex="0">
        <form action="{{ url_for('email') }}" method="POST" class="needs-validation mt-5" style="width:70%; max-width:40rem; margin:0 auto;" novalidate>
            <div class="form-floating mb-3 d-flex">
                <input type="text" class="form-control min-max-width-100" name="name" id="name" required>
                <label for="name" class="form-label" style="color: black;">이름(Full Name)</label>
                <div id="name-valid-feedback" class="valid-feedback center-div">Good</div>
                <div id="name-invalid-feedback" class="invalid-feedback center-div">Rewrite!</div>
            </div>
            <div class="form-floating mb-3 d-flex">
                <input type="email" class="form-control min-max-width-100" name="email" id="email" required>
                <label for="email" class="form-label" style="color: black;">이메일</label>
                <div id="email-valid-feedback" class="valid-feedback center-div">Good</div>
                <div id="email-invalid-feedback" class="invalid-feedback center-div">Rewrite!</div>
            </div>
            <input type="hidden" name="type" value="username">
            <input type="submit" id="send-username-email" class="btn btn-primary" value="제출">
        </form>
    </div>

    <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
        <form action="{{ url_for('email') }}" method="POST" class="needs-validation mt-5" style="width:70%; max-width:40rem; margin:0 auto;" novalidate>
            <div class="form-floating mb-3 d-flex">
                <input type="text" class="form-control min-max-width-100" name="username" id="username" required>
                <label for="username" class="form-label">아이디</label>
                <div id="username-valid-feedback" class="valid-feedback center-div">Good</div>
                <div id="username-invalid-feedback" class="invalid-feedback center-div">Rewrite!</div>
            </div>
            <div class="form-floating mb-3 d-flex">
                <input type="email" class="form-control min-max-width-100" name="email" id="email" required>
                <label for="email" class="form-label" style="color: black;">이메일</label>
                <div id="email-valid-feedback" class="valid-feedback center-div">Good</div>
                <div id="email-invalid-feedback" class="invalid-feedback center-div">Rewrite!</div>
            </div>
            <input type="hidden" name="type" value="password">
            <input type="submit" id="send-password-email" class="btn btn-primary" value="제출">
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/send_email.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register_check.js') }}"></script>
{% endblock %}