<form method="get">
    <div class="d-flex justify-content-start">
        {% if search %}
        <input type="text" name="search" value="{{ search }}" class="mx-1"
            style="width: 18rem; height: 3rem; margin-top: 0.4rem;">
        {% else %}
        <input type="text" name="search" placeholder="상점명 입력" class="mx-1"
            style="width: 18rem; height: 3rem; margin-top: 0.4rem;">
        {% endif %}

        <select name="area" class="mx-1" style="width: 6rem; height: 3rem; margin-top: 0.4rem;">
            {% if area %}
            <option value="{{ area }}" selected hidden>{{ area }}</option>
            {% else %}
            <option value="" selected disabled>지역</option>
            {% endif %}
            <option value="">전체</option>
            {% for a in areas %}
            {% if a == area %}
            <option value="{{ a }}" selected>{{ a }}</option>
            {% else %}
            <option value="{{ a }}">{{ a }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <!-- TODO: multiple 속성 넣기  -->
        <!--? 타입 필터 -->
        <select name="type" class="mx-1" style="width: 10rem; height: 3rem; margin-top: 0.4rem;">
            {% if type %}
            <option value="{{ type }}" selected hidden>{{ type }}</option>
            {% else %}
            <option value="{{ type }}" selected disabled>가게 종류</option>
            {% endif %}
            <option value="">전체</option>
            {% for t in types %}
            {% if type == t %}
            <option value="{{ t }}" selected>{{ t }}</option>
            {% else %}
            <option value="{{ t }}">{{ t }}</option>
            {% endif %}
            {% endfor %}

        </select>
        <!--? 시간 필터 -->
        <select name="timefromnow" class="mx-1" style="width: 8rem; height: 3rem; margin-top: 0.4rem;">
            {% if timefromnow %}
            <option value="{{ timefromnow }}" selected hidden>{{ timefromnow }}시간 이상</option>
            {% else %}
            <option value="" selected disabled>남은 영업시간</option>
            {% endif %}

            <option value="">전체</option>
            {% for t in [[2, '2시간 이상'], [3, '3시간 이상'], [4, '4시간 이상'], [6, '6시간 이상']] %}
            {% if timefromnow == t[0] %}
            <option value="{{ t[0] }}" selected>{{ t[1] }}</option>
            {% else %}
            <option value="{{ t[0] }}">{{ t[1] }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="이동" class="btn btn-primary" style="height: 3rem; margin-top: 0.4rem;">
    </div>
</form>